body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    background-image: url('field.jpeg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
}

p {
    word-spacing: 5px;
    color: #333;
}

p:first-of-type {
    font-weight: bold;
}

a:hover {
    font-size: 20px;
    color: #000;
}

a:visited {
    color: #006400;
}

figure {
    float: left;
    margin-right: 50px;
}

figure img {
    width: 400px;
    height: auto;
}

.notification{
    background:#FFFFDD;
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:250px;
    font-weight:bold;
    color: #333300;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
  }

blockquote {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 160%;
    background-color: #eee;
    border-left: 3px dashed #333;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
}

blockquote:first-of-type {
    position: relative;
    left: 20%;
    padding-left: 30px;
}

h1 {
    background-color: yellow;
}

.good {
    font-style: italic;
    color: green;
}

.bad {
    font-style: italic;
    color: red;
}

.good, .bad {
    text-transform: capitalize;
}

caption {
    caption-side: bottom;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #777;
}

li img {
    padding-right: 10px;
}

.villagers {
    border-left: 3px solid red;
}

.farmer {
    border-left: 3px solid blue;
}